@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  display: block;
  width: 150px;
  height: 65px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: linear-gradient(60deg, #58caec 0%, #e6447a 100%);
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(60deg, #fffd85 0%, #ca22fd 179.25%);
}

.progress {
  background: linear-gradient(60deg, #facd39 0%, #7a97f5 100%);
}

.done {
  background: linear-gradient(60deg, #e6493b 0%, #b62ada 100%);
}

.hold{
 background: linear-gradient(60deg,#e6447a 0%, #58caec 100%);
  color: #fff;
  border: 2px solid rgb(128, 136, 136);
}

.hide{
display: none;
}

.hovered{
  border-top: 2px solid #eb4376;
}